<app-navbar></app-navbar>
<div class="container main-container">
  <div class="row top50">
    <div class="col-md-4">
      <h5>Marcador</h5>
      <hr>
      <div *ngIf="marcadorSel" class="animated fadeIn fast">
        <div class="form-group">
            <label>Titulo</label>
            <input
              type="text"
              class="form-control"
              name="titulo"
              [(ngModel)]="marcadorSel.titulo">
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <textarea
              clasS="form-control"
              rows="5"
              name="descripcion"
              [(ngModel)]="marcadorSel.descripcion">
            </textarea>
        </div>
        <div class="form-group">
            <label>Arrastrable</label>
            <select
              clasS="form-control"
              name="draggable"
              [(ngModel)]="draggable"
              (change)="cambiaDrag()">
              <option value="1">Si</option>
              <option value="0">No</option>
            </select>
        </div>
        <button
          (click)="_mapas.guardarMarcadores(); marcadorSel = null;"
          class="btn btn-outline-primary btn-block">
          Guardar...
        </button>
      </div>

    </div>
    <div class="col-md-8">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"
        (mapClick)="addMarker($event)">
        <agm-marker [latitude]="marcador.lat" [longitude]="marcador.lon"
          [markerDraggable]="marcador.draggable"
          *ngFor="let marcador of _mapas.marcadores; let i = index"
          (markerClick)="clickMarcador(marcador, i)"
          (dragEnd)="marcadorArrastrado(marcador, $event)">
            <agm-info-window>
              <strong>{{ marcador.titulo }}</strong>
              <p *ngIf="marcador.descripcion">{{ marcador.descripcion }}</p>
              <p>
                <a class="text-danger puntero" (click)="eliminarMarcador(i)">Borrar marcador</a>
              </p>
            </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>
